extends layout

append head
  style.
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  script(src='/javascripts/oms.min.js')
  script(src="/javascripts/map_points.js")


block content
  input#map-search.search-box(type="text", placeholder="Search Box")
  .get-current-location 0
  #map-canvas